
.Modal {
    position: fixed;
    z-index: 200;
    border: 3px solid black;
    box-shadow: 0 4px 4px rgb(0,0,0,0.65);
    border-radius:25px;
    background-color:white;
    color:black;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    width: 25vw;
    height:30vw;
    overflow-y: auto;
    transition: all 0.3s ease-out;
    word-wrap: break-word;
    font-size: 14px;
    left:35vw;
    top:30vh;
    
}


.ModalOpen {
    display:block;
    animation: openModal 0.4s ease-out forwards;
}

@keyframes openModal{
    0%{
        opacity: 0;
        transform: translateY(-100%)
        
    }
    50%{
        opacity: 1;
        transform: translateY(90%)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

.ModalClosed {
    display:none;
}


.closeButton {
    width: 1.25rem;
    height: 1.25rem;
    background-color: blue;
    color:white;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.closeButton:hover{
    transition: .2s;
    transform: scale(0.75)
}

.catImage{
    text-align: center;
    width:8vw;
    height:8vw;
}

.header{
    font-family: 'Kaushan Script', cursive;
    color:blue;
}